
:root{
    --headerColor:#A594F9;

}

.centerStyle{
    text-align: center;
}

/* layout page styling */
.bgColor{
    background-color:var(--headerColor);
}
.fontColor{
    color: white;
}

/* Home page styling */
#homeContiner,#jobContiner{
    
    padding: 16px;   
    color:white;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
}
#homeRight img{
    height: 100%;
    width: 100%;
}

/* Job page styling */
.customeCard{
    background-color : #CDC1FF;
    color:white;
    margin: 8px;
}
.customeCardTitle{
    color:#758694;    
}
.customeButton{
    width:100%;
    text-align: center;
}

/* 404 error page*/
.error-box
{
  min-height: 96vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.top
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Loginpage CSS */
.loginForm,.jobDetailCard{
    padding:16px; 
    margin: 16px;
}

/* jobDetail */
.customeIcon{
    margin: 5px;
}