<div id="homeContiner">
  <div id="homeLeft">
    <h1>A comprehensive platform for reliable</h1>
    <h5>Job opportunities and internships.</h5>
    <h5>Get Discovered. Get Hired.</h5>
    <div id="actionContiner">
      <a class="btn btn-primary" href="/jobs" role="button">Link</a>
    </div>
  </div>
  <div id="homeRight">
    <img src="asset/banner.png" />
  </div>
</div>

